@import '../../config.less';
.app{
	#pages {
	    position: relative;
	    background-color: #eeeff2;
	    top: 80px;
	}
}
#app {
	min-height:600px;
	font-size: 16px;
	color: @textColor;
	padding: 30px;
	>a {
		color: black;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.app-box{
		background-color:#fff;
		.app-title{
            font-size:18px;
            color:#333333;
            width:100%;
            height:80px;
            line-height:80px;
            border-bottom:1px solid #eaeaea;
            text-align:center;
            >a{
				width: 80px;
				height: 40px;
				line-height: 40px;
				margin: 20px 0 20px 30px;
				color: #00d8d6;
				border-color: #00d8d6;
				background-color:#fff;
            }
            .app-menu{
            	.menu-item{
            		font-size:16px;
            		color:#999999;
            		height:30px;
            		line-height:30px;
            		margin-right: 80px;
            		&.current,&:hover{
            			color:#333333;
            		}
            	}
            }
        }
        .app-main{
        	padding: 20px 100px;
    		width: 100%;
        	.app-inner{
        		ul.app-main-list{
        			width:1000px;
        			li.item{
						width:1000px;
						height:140px;
						border-bottom: 1px solid #eaeaea;
						margin-bottom: 30px;
        				.item-img{
        					float:left;
        					margin-right:20px;
        					width:80px;
        					height:80px;
        					border-radius:50%;
        					-moz-border-radius:50%;
        					-webkit-border-radius:50%;
        					-o-border-radius:50%;
        					background-color:#02cfa1;
        					img{
        						width:46px;
        						height:44px;
        						margin: 18px 17px;
        					}
        				}
        				.item-info{
        					float:left;
        					.item-title{
        						margin-bottom:10px;
        						.item-text{
        							float:left;
        						}
        						.item-category{
        							float:left;
                                    height: 24px;
                                    line-height: 24px;
        							.item-category-name{
        								font-size:12px;
        								width:70px;
        								height:24px;
        								line-height:24px;
                                        float:left;
        								color:#fff;
        								background-color:#cccccc;
        								border-radius:10px;
        								-moz-border-radius:10px;
        								-webkit-border-radius:10px;
        								-o-border-radius:10px;
        								display: inline-block;
        								text-align:center;
        								margin-left: 30px;
        							}
        						}
        					}
        					.item-content{
        						width:700px;
        						overflow: hidden;
	        					text-overflow: ellipsis;
	        					display: -webkit-box;
	        					-webkit-box-orient: vertical;
	        					-webkit-line-clamp: 3;
        					}
        				}
        				.item-btn{
							float: right;
							margin: 30px 0 0 0;
        					a{
								width: 100px;
								height: 40px;
								line-height: 30px;
								display: inline-block;
								text-align: center;
                                cursor: pointer;
                                &.btn-install{}
                                &.btn-uninstall{
                                    cursor: not-allowed;
                                }
        					}
        				}
        			}
        		}
        	}
        }
	}
}