@import '../../config.less';
body.loginhome{
	#header{
		display:none;
	}
	#footer{
		display:none;
	}
	#pages{
		position:relative;
		width: 100%;
	    height: 100%;
	    font-size: 16px;
	    color: #333;
	    margin: 0 auto;
	    display: block;
	    background: url(./images/bg.png) no-repeat 50%;
	    background-size: cover;
	    min-width:860px;
	    min-height:700px;
	    overflow:auto;
		#loginhome{
			#login{
				>a{
					color:#000;
					text-decoration:none
					&:hover{
						text-decoration:underline
					}
				}
				.logo-box{
					display:block;
					position:absolute;
					left:120px;
					top:80px;
					.logo{float:left;width:50px;height:50px;background-image:url(./images/logo1.png);background-repeat:no-repeat;background-size:100% 100%}
					.logotext{float:left;width:118px;height:29px;margin:10px 0 10px 10px;background-image:url(./images/logo2.png);background-repeat:no-repeat;background-size:100% 100%}
				}
				.login-box{
					position:absolute;
					top:50%;
					left:50%;
					margin-left:-190px;
					margin-top:-250px;
					border-radius:10px;
					-moz-border-radius:10px;
					-webkit-border-radius:10px;
					background-color:#fff;
					width:380px;
					height:500px;
					text-align:center;
					box-shadow:0 2px 10px #999;
					-moz-box-shadow:#999 0 2px 10px;
					-webkit-box-shadow:#999 0 2px 10px;
					#loginQr{width:380px;height:500px;font-size:16px;color:#999;text-align:center;margin:0 auto}
				}
				.login-doing{
					overflow:hidden;
					position:relative;
					#qrcode.login-loading{
						background:url(./images/grey-loading.gif) no-repeat center;
						background-color:#fff;
					}
					.login-sub-title{
						font-size:18px;
						color:#333;
						line-height:22px;
						letter-spacing:2px;
					}
					img{display:block;width:234px;height:234px;margin:0 auto}
				}
				
				#qrcode{width:234px;height:234px;margin:80px auto 20px;background-color:#fff;display:inline-block}
				.login-success{
					font-size:16px;
					color:#333;
					display:none;
					.success-img{
						img{
							width:100px;
							height:100px;
							border-radius:50%;
							display:block;
							margin:90px auto 40px;
							background-image:url(https://static.delicloud.com/images/users/avatar_120.jpg);
							background-repeat:no-repeat;
							background-position:center;
							background-size:cover;
						}
					}
					.success-title{font-size:24px;margin-bottom:5px}
					.success-sub-title{margin-bottom:90px}
					.success-btn{font-size:16px;color:#5d85e0;display:inline-block;width:78px;height:38px;line-height:38px;border:1px solid #5d85e0;border-radius:5px;text-align:center;margin:0 auto}
				}
				.login-fail{
					margin:0 auto;
					width:380px;
					display:none;
					.fail-img{margin:90px auto 30px;width:120px;height:120px;background:url(./images/fail120.png) no-repeat center}
					.fail-sub-title{margin-bottom:90px;color:#333}
					.fail-btn{font-size:16px;color:#5d85e0;display:inline-block;width:78px;height:38px;line-height:38px;border:1px solid #5d85e0;border-radius:5px;text-align:center;margin:0 auto}
				}
				.org-box{
					display: none; width: 1000px; height: 612px; background-size: 100% 100%; position: absolute; top: 50%; left: 50%; margin-top: -356px; margin-left: -500px;
					.org-wrap{
						text-align:center;
						margin:0 auto;
						.org-title{font-size:30px;font-weight:700;color:#fff;padding-top:100px;padding-bottom:110px}
						.org-inner ul.org-list{width:492px;margin:0 auto;}
						.org-inner ul.org-list li.list-item{margin:0 auto;width:482px;height:82px;line-height:82px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;margin-bottom:50px}
						.org-inner ul.org-list li.list-item a.list-item-inner{font-size:30px;font-weight:500;color:#333;width:482px;height:82px;line-height:80px;display:inline-block;text-align:center;background:url(./images/btn-bg.png) repeat center;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 0 30px;}
						.org-inner ul.org-list li.list-item.current,.org-inner ul.org-list li.list-item:hover a{color:#5d85e0;background:url(./images/btn-bg-active.png) repeat center;}
						.org-inner ul.org-list li.list-item:last-child{margin-bottom:0}
						.org-inner ul.org-list.org-list-seldom{}
						.org-inner ul.org-list.org-list-plenty{width:1014px;width:1064px\9;height:570px;margin:0 auto}
						.org-inner ul.org-list.org-list-plenty li.list-item{float:left;width:482px;height:82px;line-height:82px;margin-right:40px}
						.org-inner ul.org-list.org-list-plenty li.list-item:nth-child(2n+0){margin-right:0}
					}
				}
			}
			@media (max-width: 1440px){
				#login{
				   .logo-box{
						left: 80px;
						-top: 45px;
						top: 20px;
					}
					.org-box .org-wrap .org-title {
						padding-bottom:50px;	
					}

					.org-box .org-wrap .org-inner ul.org-list li.list-item {
						height:75px;
						line-height:75px;	
						margin-bottom:40px
					}

					.org-box .org-wrap .org-inner ul.org-list li.list-item a.list-item-inner {
						height:75px;	
					}

					.org-box .org-wrap .org-inner ul.org-list.org-list-plenty li.list-item {
						height:75px;
						line-height:75px;
					}
				}
			}
		}
	}
}