@import '../../config.less';
#pages {
    position: relative;
    background-color: #eeeff2;
    top: 80px;
}
#device {
	min-height:600px;
	font-size: 16px;
	color: @textColor;
	padding: 30px;
	>a {
		color: black;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.dev-box{
		background-color:#fff;
		.dev-main{
			.dev-installed{
				padding: 20px;
				.dev-installed-title{
					font-size:18px;
					height:30px;
					line-height:30px;
					margin:0;
					margin-bottom:20px;
				}
				.dev-wrap{
					min-height:600px;
					table{
						
					}
				}

			}
		}
	}
}